#timer_div{
    font-size: 50px;
}

*{
    text-align: center;
    margin-top: 130px;
   
}

body{
    background-image: linear-gradient(5deg, green, orange);
}

/* .text{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: red;
    text-shadow: black blue 2px;
} */